.home {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  .shop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6rem;
    margin-left: 1rem;
    margin-right: 2rem;
  }
  .product-card {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin-left: 1rem;
  }
}
