$max-width: 1140px;
$gutter: 20px;
$border-radius: 3px;
$finger-size: 36px;
$font-size: 16px;
$font-size-small: 0.86em;
//
$color-soft-green: #c6d8c0;
$color-green: #5c9735;
$color-black: #141a0f;
$color-gray: #4d4f48;
$color-icon: #abaca9;
//
$font-family: "Open Sans", "Roboto", Arial, sans-serif;
