$max-width: 1140px;
$gutter: 20px;
$border-radius: 3px;
$finger-size: 36px;
$font-size: 16px;
$font-size-small: .86em;
//
$color-soft-green: #C6D8C0;
$color-green: #5C9735;
$color-black: #141A0F;
$color-gray: #4D4F48;
//
$font-family: 'Open Sans', 'Roboto', Arial, sans-serif;
