.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .footer-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    a {
      padding-right: 20px;
    }
  }
  .section {
    h4 {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    button {
      margin-left: 10px;
    }
  }
  .footer_end {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    height: 4rem;
  }
}