.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .modal_components {
    background-color: white;
    display: hidden;
    @media (last-of-type) {
      display: block;
    }
  }
}
