.about_container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 84%;
  .about_title_container {
    display: flex;
    align-items: center;
    .about_title {
      width: 35%;
      h1 {
        font-family: $font-family;
        font-size: 4.5rem;
        line-height: 4.8rem;
        color: $color-black;
        font-weight: 400;
      }
    }
    .about_title_content {
      margin-left: 40px;
      margin-top: 6rem;
      width: 55%;
      .about_title_line {
        width: 64px;
        border: 0.2px solid $color-green;
        margin: 2rem 0;
      }
      .about_title_description {
        h3 {
          margin: 2rem 0;
          font-family: $font-family;
          font-size: 2rem;
          line-height: 2.4rem;
          color: $color-black;
          font-weight: 400;
        }
        p {
          font-family: "DM Sans", sans-serif;
          font-size: 1rem;
          line-height: 25.6px;
          color: $color-gray;
        }
      }
    }
  }
  .video_container {
    margin: 3.5rem 0;
    display: flex;
    justify-content: center;
  }
  .our-story_container {
    display: flex;
    margin: 0 auto;
    .our-story_title_container {
      display: flex;
      .our-story_title {
        width: 60%;
        h5 {
          font-family: $font-family;
          font-size: 18px;
          letter-spacing: 2px;
          line-height: 22.5px;
          text-transform: uppercase;
          color: $color-gray;
        }
      }
      .our-story_content {
        .our-story_content_description {
          p {
            margin-bottom: 2rem;
            font-family: "DM Sans", sans-serif;
            font-size: 1rem;
            color: $color-gray;
            line-height: 25.6px;
          }
          span {
            color: $color-green;
          }
          h3 {
            margin-top: 20px;
            width: 95%;
            font-family: "DM Sans", sans-serif;
            font-size: 18px;
            font-weight: 600;
            line-height: 25, 6px;
            color: $color-black;
          }
        }
        .user_content {
          display: flex;
          align-items: center;
          margin-top: 1.5rem;
          .user_image {
            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
            }
          }
          .user {
            margin-left: 1rem;
            .fullName {
              font-family: "DM Sans", sans-serif;
              font-size: 14px;
              font-weight: 400;
              letter-spacing: 2px;
              line-height: 21px;
              color: $color-black;
            }
            .title {
              font-family: "Times New Roman", Times, serif;
              font-size: 1rem;
              line-height: 18.4px;
              color: black;
            }
          }
        }
      }
    }
  }
  .image_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    .image {
      margin: 1rem 0 1rem 0;
      width: 33%;
    }
  }
}
